BODY {
    perspective: 5000px;
    perspective-origin: center -50em;
}

.container {
    margin: 3em auto 0;
    width: 70em;
    height: 70em;
    border: 2px dotted white;
    transform-style: preserve-3d;
    opacity: 1;
    /*animation: rotate 10s infinite linear;*/
    z-index: 1;
    transition: transform 1s ease 0s;
}
.container:before,
.container:after {
    content: "";
    display: block;
    position: absolute;
    width: 70em;
    height: 70em;
    border: 2px dotted white;
}
.container:before {
    transform: rotateX(90deg);
}
.container:after {
    transform: rotatey(90deg);
}

.side {
    position: absolute;
    width: 70em;
    height: 70em;
    border: 1px solid white;
    opacity: 1;
    /*backface-visibility: hidden!important;*/
}

.back {
    transform: translateZ(-35em);
    background: orange;
}
.front {
    transform: translateZ(35em);
    background: gold;
}
.top {
    transform: translateY(-35em) rotateX(-90deg);
    background: skyblue;
}
.bottom {
    transform: translateY(35em) rotateX(-90deg);
    background: steelblue;
}
.left {
    transform: translateX(-35em) rotateY(-90deg);
    background: lightgreen;
}

.right {
    transform: translateX(35em) rotateY(-90deg);
    background: yellowgreen;
}



#btn-left {
    position: absolute;
    top: 50%;
    left: 0;
    height: 200px;
    width: 100px;
    display: block;
    background: hotpink;
    cursor: pointer;
    z-index: 5;
}
#btn-right {
    position: absolute;
    top: 50%;
    right: 0;
    height: 200px;
    width: 100px;
    display: block;
    background: hotpink;
    cursor: pointer;
    z-index: 5;
}
#btn-up {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100px;
    width: 200px;
    display: block;
    background: hotpink;
    cursor: pointer;
    z-index: 5;
}
#btn-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 100px;
    width: 200px;
    display: block;
    background: hotpink;
    cursor: pointer;
    z-index: 5;
}
