BODY {
    perspective: 5000px;
    perspective-origin: center -50em;
}

.container {
    margin: 3em auto 0;
    width: 70em;
    height: 70em;
    border: 2px dotted white;
    transform-style: preserve-3d;
    opacity: .7;
    animation: rotate 10s infinite linear;
}
.container:before,
.container:after {
    content: "";
    display: block;
    position: absolute;
    width: 70em;
    height: 70em;
    border: 2px dotted white;
}
.container:before {
    transform: rotateX(90deg);
}
.container:after {
    transform: rotatey(90deg);
}

.side {
    position: absolute;
    width: 70em;
    height: 70em;
    border: 1px solid white;
    opacity: 1;
    /*backface-visibility: hidden!important;*/
}

.back {
    transform: translateZ(-35em);
    background: orange;
}
.front {
    transform: translateZ(35em);
    background: gold;
}
.top {
    transform: translateY(-35em) rotateX(90deg);
    background: skyblue;
}
.bottom {
    transform: translateY(35em) rotateX(90deg);
    background: steelblue;
}
.left {
    transform: translateX(-35em) rotateY(90deg);
    background: lightgreen;
}

.right {
    transform: translateX(35em) rotateY(90deg);
    background: yellowgreen;
}

@keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
}